* {
    padding: 0;
    margin: 0;
    /*box-size:border-box;*/
}
body {
    background: rgb(255, 255, 255);
}
#container {
    width: 350px;
    margin: 0 auto;
    margin-top: 150px;
}
.tabs {
    display: table-cell;
    width: 145px;
    background-color: #1145a5;
    padding: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #ffffff;
    border-bottom: 0px;
    position: relative;
    font-size: 1.3em;
    color: #000000;
}
.tabs:hover, p{
    cursor: pointer;
}

#lt {
    background-color: #4070f4;
}
#cont {
    width: 100%;
    height: 300px;
    background-color: #4070f4;
    border: 2px solid #ffffff;
}

input{
    display: block;
    width: 300px;
    margin: 10px 13px;
    padding: 10px;
    font-size: 1.3em;
    color: #4070f4;
    outline: 2px solid #ffffff;
}

input[type="submit"] {
    width: 320px;
    color: #ffffff;
    background-color: #1145a5;
}

#clear {
    clear: both;
}

.comm {
    position: absolute;
    visibility: hidden;
}
#login {
    visibility: visible;
}

h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #ffffff;
}

#forgot h3 {
    display: block;
    margin-top: 30px;
    text-align: center;
}

#forgot div {
    margin-top: 30px;
}
p {
    padding: 10px 15px;
    font-size: 1.3em;
    color: #000000;
}